*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:  #292929;
}
.container{
    top: 60px
}
.c{
    text-align: center;
    margin: 20px 20px;
}

section{
    text-align: center;
}

body{
   
    position: relative;
    z-index: 10;
}
