* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

body{
    position: relative;
    z-index: 10;
    top: 37px;
    margin: 0 ;
    color: #828282;
}

p{
    color: #ffffffd7;
}

.titulos{
    margin-top: 50px;
}

footer{
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:#292929;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 150px;
  z-index: 10;
}

a{
    text-decoration: none;
    color: #ffffffa8;
}

.c{
    text-align: center;
    margin: 20px 20px;
    top: 100px;
}

/*Footer*/
.iconos{
    display: flex;
    justify-content:space-evenly;
    align-items: start;
    padding-top: 10px;
    margin-left: 0;
    font-size: 12px;
    font-family: cursive;
}

.derechos{
    padding-top: 25px;
    font-family: cursive;

}

.iconos img{
    padding-top: 10px;
}

/*Barra*/

header {
  position: fixed;
  width: 105.3%;
  height: 70px;
  top: -30px;
  margin: 20px auto;
  margin-bottom: 0;
  display: table;
  z-index: 100;
  background-color: #292929;
  left: 0;
  right: 0;
}
  
header ul img{
    display: flex;
    justify-content: left;
    align-content: start;
    align-items:end;
    width: 15%;
    height: 35px;
    padding-top: 10px;
}

ul,ol {
  list-style:none;
}
  
nav {
    position: fixed;
    width: auto;
    height: 70px;
    top: -10px;
    right: 3%;
    display: inline-block;
    margin: 20px auto;
}
  
nav a {
    position: relative;
    width:auto;
    display:inline-block;
    text-align: center;
    color: #949494;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.2s ease color;
}
  
    
nav > li {
    display:inline-table;
}
      
nav li a {
    text-align: left;
    color:#949494;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}


.submenu {
    width: 100%;
    display: none;
}


.submenu li {
    list-style: none;
}

.submenu a:hover{
    color:#949494; 
}

nav li:hover .submenu {
    position: fixed;
    display:list-item;
    margin: 0px -10px; 
    background-color: #292929;
    width: 100px;
    text-align: center;
    border-radius: 5%;
}

nav li:hover ul a {
    right: 35px;  
}
    
nav  a:before,
nav  a:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
}
    
nav  a:before {
    top: 0;
    left: 7px;
    width: 6px;
    height: 6px;
}
    
nav  a:after {
    top: 5px;
    left: 20px;
    width: 4px;
    height: 4px;
}
    
   nav  a:nth-child(1):before {
    background-color: yellow;
    }
    
   nav  a:nth-child(1):after {
    background-color: red;
    }

/*----------Sub-menú------------*/    
    
   nav > li a:nth-child(1):before {
    background-color: rgb(144, 90, 245);
    }
    
   nav > li a:nth-child(1):after {
    background-color: rgb(255, 251, 0);
    }

    nav > li ul a:nth-child(1):before {
        background-color: yellow;
    }
        
    nav > li ul a:nth-child(1):after {
    background-color: red;
    }
    
/*----------Sub-menú------------*/  

    nav > li a:nth-child(2):before {
        background-color: #00e2ff;
    }
    
    nav > li a:nth-child(2):after {
    background-color: #89ff00;
    }

   nav  a:nth-child(3):before {
    background-color: purple;
    }
    
   nav  a:nth-child(3):after {
    background-color: palevioletred;
    }

   nav  a:nth-child(4):before {
      background-color: #00e2ff;
    }
    
   nav  a:nth-child(4):after {
      background-color:  #89ff00;
    }
    
#indicator {
    position: relative;
    left: 5%;
    bottom: 0;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    transition: 0.2s ease left;
}
    
   nav  a:hover:before,
   nav  a:hover:after {
    transform: scale(1);
    }
    
   nav  a:nth-child(1):hover ~ #indicator {
    background: linear-gradient(130deg, yellow, red);
    }
    
   nav > li a:nth-child(2):hover ~ #indicator {
    left: 27%;
    background: linear-gradient(130deg, rgb(20, 9, 168), rgb(224, 0, 0));
    }
    
   nav  a:nth-child(3):hover ~ #indicator {
    left: 57%;
    background: linear-gradient(130deg, purple, palevioletred);
    }
   nav  a:nth-child(4):hover ~ #indicator {
      left: 90%;
      background: linear-gradient(130deg, #00e2ff, #89ff00);
    }


/*animaciones*/

@media screen and (max-width: 500px) {
    #menu {
        display:initial;
        width: 5%;
    }

    nav ul {
        display: none;
    }
}





/* CATÁLOGO CARDS */
.catalogo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.cards img:hover{    
    transform: scale(1.1);
    transition: 0.5;
    /* filter: brightness(50%); */
}
.cards{
    border: 1px black solid;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
}

.cards img{
    width: 260px;
    height: 200px;
    padding: 3px;
}

.boton{
    border-radius: 2px;
    background-color: red;
    color: white;
}

section span h2{
    color: black;
}





/*CATÁLOGO INFORMACIÓN*/

.cards p{
    font-weight:bolder;
}

.imagen{
    display: flex;
    background-image: url(../IMG/catalogo.jpg);
    width: 100%;
    height: 500px;
    background-size: 100% 500px;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    opacity: 90%;
}

.imagen h3{
    background-color: #0000007c;
    padding: 20px 30px;
     color: #fff;
}


.dividir{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    padding-top: 10px;
    margin: 0;
}

.tablaInfo{
    padding-top: 10px;
}

.name p{
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    text-decoration: underline red;
    text-shadow: 2px 2px 5px grey;
}

section .especificaciones img{
    padding-top: 20px;

}

.dividir .tablaInfo p{
    font-size: 30px;
    font-weight: 800;
    color: red;
    border-radius: 4px;
}

.dividir .tablaInfo i{
    font-size: 12px;
    font-family: cursive;
    color: black;
    font-weight:170;
}

.infoColores{
    display: inline-flex;
    justify-content: center;
    width: 90%;
    height: 150px;
    padding-bottom: 60px;
}


/*Slider*/

.slide {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 100px;
}
.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc( 300px + 3em);
}
.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
}
.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}
.slide-item img {
    display: block;
    height: auto;
    max-width: 400px;
}

/*Slide de inicio*/
.slide-item4 img {
    height: 340px;
    margin:0;
}
.slide4 {
    position: relative;
    box-shadow: 0px 1px 6px rgba(17, 3, 171, 0.64);
}
.slide-inner4 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc( 770px + 3em);
}
.slide-open4:checked + .slide-item4 {
    position: static;
    opacity: 100;
}
.slide-item4 {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}
.slide-item4 img {
    display: block;
    height: 820px;
    width: 1738px;
    max-width: 4200px;
}
.c img {
    height: 450;
    width: 1210px;
    max-width: 4200px;
}
/*Fin slide de inicio*/

.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}
.slide-control.prev {
    left: 2%;
}
.slide-control.next {
    right: 2%;
}
.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
    display: block;
}
.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}
.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}
.slide-circulo:hover {
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador 
     li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
      li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
      li:nth-child(3) .slide-circulo {
    color: #428bca;
}
#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
         -1px 0px 2px rgba(255, 255, 255, 0);
}

/*NOSOTROS*/

.body{
    background-color:#292929 ;
}

.cuerpo > section >div> h1{
    color:#ffffffcb;
} 

.tarjeta1{
    border: 1px rgb(175, 175, 175) solid;
    border-radius: 5px 50px;
    margin: 30px 400px;
    padding: 20px;
    position: relative;
    right: 25%;
    box-shadow: 10px 12px 29px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 12px 29px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 12px 29px -1px rgba(0,0,0,0.75);
    background-color: #000000ab;
}
.tarjeta2{

    border: 1px rgb(175, 175, 175) solid;
    border-radius: 50px 5px;
    margin: 30px 400px;
    padding: 20px;
    position: relative;
    left: 25%;
    box-shadow: 10px 12px 29px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 12px 29px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 12px 29px -1px rgba(0,0,0,0.75);
    background-color: #000000ab;

}
.tarjeta3{
    
    border: 1px rgb(175, 175, 175) solid;
    border-radius: 5px 50px ;
    margin: 30px 400px;
    padding: 20px;
    position: relative;
    right: 25%;
    box-shadow: 10px 12px 29px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 12px 29px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 12px 29px -1px rgba(0,0,0,0.75);
    background-color: #000000ab;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about img{
    width: 20%;
}

#contenedor {
    margin: 100px 0px -120px 10px;
    padding: 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: start;
  }

  video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 850px;
    object-fit: cover;

}

  .H1{
    margin-top: 170px;
    font-family: 'Vollkorn', serif;
    color: #f11d1d96;
  }
/*CONTÁCTANOS*/

.tarjeta{
background-color: #000000a9;
    border: 1px rgb(175, 175, 175) solid;
    border-radius: 15px;
    margin: 30px 400px;
    padding: 10px;
    position: relative;
    top: 80px;
    

    box-shadow: 10px 12px 29px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 12px 29px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 12px 29px -1px rgba(0,0,0,0.75);
}

.tarjeta input{
    background-color: #504f4f86;
    border: #aaaaaa00;
}


.cuerpo{
    text-align: center;
    margin: 20px 20px;

    min-height: 100vh;
    position: relative;
}
 
.video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
}

::placeholder { color: rgba(255, 250, 240, 0.589); }