* {
    font-family: 'Handjet', cursive;
}


/*animaciones*/

@media screen and (max-width: 500px) {
    #menu {
        display:initial;
        width: 5%;
    }

    nav ul {
        display: none;
    }
}


/*Aquí va Crony*/


/*Aquí va Deisy*/